<% include ../partials/header %>
<!-- <%# //../represents onde lvl back onde folder back %> -->

<!-- <div class="container-fluid"> -->
<!-- <%# header its a container like div or other %> -->
<header class="jumbotron">

    <div class="container">
        <h1>Welcome To YelpCamp</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <!-- <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
        </p> -->

        <p>
            <form action="/campgrounds" method="GET" class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" placeholder="Campgrounds search...">
                    <input class="btn btn-default" type="submit" value="Search">
                </div>
            </form>
        </p>
    </div>
</header>


<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function (campground) { %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">

            <img class="img-responsive " src="<%= campground.image %>">

            <div class="caption">
                <h4><%= campground.name %></h4>
                <div>
                    <span class="badge label-primary"><i class="fas fa-thumbs-up"></i>
                        <%= campground.likes.length %></span>
                </div>
            </div>

            <p>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                <%# this id is automatic generate by mongoDB%>
            </p>

        </div>

    </div>
    <% }); %>
</div>






<!-- </div> -->




<% include ../partials/footer %>